doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title My TO DO App
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  body
    .container
      .btn-group(role='group', aria-label='...')
        a.btn.btn-default(href='/') Tasks List
        |  
        a.btn.btn-default(href='/completed') Completed
    .container
      h2=section
      p Welcome to the To Do App by @me. Please enjoy.
    .container
      block content
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>