<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My TO DO App</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="btn-group" role="group" aria-label="...">
        <a href="#/" class="btn btn-default">Tasks List</a>
        <a href="#/completed" class="btn btn-default">Completed</a>
    </div>
    <div class="container">
        <h2>Section</h2>
        <p>Welcome to the To Do App by @me. Please enjoy.</p>
    </div>
    <div class="container">
        <!-- Block -->
    </div>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
